<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="safe.goldlone.cn.safe">


    <!--摄像头-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/safe_select"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/safe_select"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 导航界面 -->
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 心率检测 -->
        <activity android:name=".view.activity.HeartActivity"></activity>


    </application>




</manifest>